/**
 * Syntax highlighting styles
 */
.highlight {
    background: #fff;
    @extend %vertical-rhythm;

    .tok-c     { color: #998; font-style: italic } // Comment
    .tok-err   { color: #a61717; background-color: #e3d2d2 } // Error
    .tok-k     { font-weight: bold } // Keyword
    .tok-o     { font-weight: bold } // Operator
    .tok-cm    { color: #998; font-style: italic } // Comment.Multiline
    .tok-cp    { color: #999; font-weight: bold } // Comment.Preproc
    .tok-c1    { color: #998; font-style: italic } // Comment.Single
    .tok-cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
    .tok-gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .tok-gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .tok-ge    { font-style: italic } // Generic.Emph
    .tok-gr    { color: #a00 } // Generic.Error
    .tok-gh    { color: #999 } // Generic.Heading
    .tok-gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .tok-gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .tok-go    { color: #888 } // Generic.Output
    .tok-gp    { color: #555 } // Generic.Prompt
    .tok-gs    { font-weight: bold } // Generic.Strong
    .tok-gu    { color: #aaa } // Generic.Subheading
    .tok-gt    { color: #a00 } // Generic.Traceback
    .tok-kc    { font-weight: bold } // Keyword.Constant
    .tok-kd    { font-weight: bold } // Keyword.Declaration
    .tok-kp    { font-weight: bold } // Keyword.Pseudo
    .tok-kr    { font-weight: bold } // Keyword.Reserved
    .tok-kt    { color: #458; font-weight: bold } // Keyword.Type
    .tok-m     { color: #099 } // Literal.Number
    .tok-s     { color: #d14 } // Literal.String
    .tok-na    { color: #008080 } // Name.Attribute
    .tok-nb    { color: #0086B3 } // Name.Builtin
    .tok-nc    { color: #458; font-weight: bold } // Name.Class
    .tok-no    { color: #008080 } // Name.Constant
    .tok-ni    { color: #800080 } // Name.Entity
    .tok-ne    { color: #900; font-weight: bold } // Name.Exception
    .tok-nf    { color: #900; font-weight: bold } // Name.Function
    .tok-nn    { color: #555 } // Name.Namespace
    .tok-nt    { color: #000080 } // Name.Tag
    .tok-nv    { color: #008080 } // Name.Variable
    .tok-ow    { font-weight: bold } // Operator.Word
    .tok-w     { color: #bbb } // Text.Whitespace
    .tok-mf    { color: #099 } // Literal.Number.Float
    .tok-mh    { color: #099 } // Literal.Number.Hex
    .tok-mi    { color: #099 } // Literal.Number.Integer
    .tok-mo    { color: #099 } // Literal.Number.Oct
    .tok-sb    { color: #d14 } // Literal.String.Backtick
    .tok-sc    { color: #d14 } // Literal.String.Char
    .tok-sd    { color: #d14 } // Literal.String.Doc
    .tok-s2    { color: #d14 } // Literal.String.Double
    .tok-se    { color: #d14 } // Literal.String.Escape
    .tok-sh    { color: #d14 } // Literal.String.Heredoc
    .tok-si    { color: #d14 } // Literal.String.Interpol
    .tok-sx    { color: #d14 } // Literal.String.Other
    .tok-sr    { color: #009926 } // Literal.String.Regex
    .tok-s1    { color: #d14 } // Literal.String.Single
    .tok-ss    { color: #990073 } // Literal.String.Symbol
    .tok-bp    { color: #999 } // Name.Builtin.Pseudo
    .tok-vc    { color: #008080 } // Name.Variable.Class
    .tok-vg    { color: #008080 } // Name.Variable.Global
    .tok-vi    { color: #008080 } // Name.Variable.Instance
    .tok-il    { color: #099 } // Literal.Number.Integer.Long
}
